* {
    margin: 0;
    padding: 0;
}

.event-manage {
    grid-area: main;
    overflow-y: auto;
    background-color: #f1f5f9;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}

.list-event {
    display: flex;
    flex-wrap: wrap;
}

.event-form {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);

    h3 {
        text-align: center;
    }
}

.eventM {
    width: 450px;
    height: 300px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
    word-wrap: break-word;

    .assignment {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: left;
        padding: 15px;
        border-bottom: 1px black solid;
    }

    .deadline {
        display: flex;
        justify-content: space-evenly;
    }

    .button {
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
    }
}

.grd-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    border-bottom: 1px black solid;

    .react {
        padding: 5px;
    }

    .reactEvent {
        padding: 5px;
    }
}

.eventInform {
    display: flex;
    flex-direction: column;
}

.eventInform-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* display: inline-block; */
    max-width: 200px;
}

.eventInform-item:hover {
    white-space: normal; /* Hiển thị toàn bộ nội dung khi di chuột vào */
    overflow: visible;
    background-color: #f0f0f0; /* Màu nền khi hover */
    z-index: 9999;
}