.account-container{
    grid-area: main;
    overflow-y: auto;
    background-color: #f1f5f9;
}

.button-account{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    h3{
        padding-left: 20px;
    }
}

.button-action{
    display: flex;
    justify-content: space-evenly;
}

.form-control{
    border-radius: 40px;
}

.table-account{
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.sort-table{
    display: flex;
    justify-content: space-between;
}